@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: 'Inter', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.profile-card {
    background: var(--card-color);
    width: 375px;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
}

.profile-card img {
    width: 90px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.name {
    margin-top: 25px;
    font-weight: 700;
    font-size: 24px;
}

.location {
    color: var(--location);
    margin-top: 10px;
    font-weight: 600;
}

.bio {
    margin: 20px 0;
    padding: 10px;
}

.social-links a {
    display: block;
    background: var(--social-color);
    color: var(--text-color);
    font-weight: 600;
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.social-links a:hover {
    background: var(--location);
    color: var(--background-color);
    transition: 0.4s ease-in-out;
}

@media (max-width: 375px) {
    .profile-card {
        width: 90%;
        margin: 0 10px;
    }
}